@import "tailwindcss";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Layout */

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #F5F5F5;
    color: #0E0E0E;
    font-size: 1rem;
    width: 600px;
    margin: 0 auto;
}

main {
    margin: 0 1.5em;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

button:hover,
button:focus,
button:active {
    box-shadow: 0px 0px 5px #8b8b8b;
}

/* Header */

header {
    background-color: #065f46;
    height: 170px;
    background-size: 600px;
    background-position: right 70%;
}

/* Typography */
h1,
h2,
h3 {
    margin: 0;
}


/* Cart */

.cart {
    display: block;
    /* display to none */
    /* need to update in TS */
}

.add-btn {
    width: 50px;
    height: 50px;
    margin: auto 0;
    font-weight: 200;
    padding: 0;
    background-color: #F5F5F5;
    border-radius: 50%;
    border: 1px solid #dedede;
}

.green-btn {
    margin: 0 auto;
    display: block;
    background-color: #16db99;
    font-weight: 600;
    border: 0;
    width: 100%;
    padding: 0.94em 0;
}

.inner-modal.green-btn {
    margin: 1.88em 0 0 0;
}




/* Order Confirmation */

.order-confirmation {
    display: none;
    /* display to block */
    /* need to update in TS */
}

/*Modal*/



.modal {
    width: 420px;
    height: 490px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #8b8b8b;
    display: none;
    /* display to block */
    justify-content: center;
    margin: auto;
    position: fixed;
    top: 300px;
    left: 0;
    right: 0;
}

.inner-modal {
    max-width: 380px;
    margin: 0.32em auto;
}



.inner-modal input,
.inner-modal label {
    display: block;
    width: 100%;
}

.inner-modal input {
    margin: 0.63em 0 0.94em 0;
}